openai>=1.17.0
baidu-aip>=4.16.13
gTTS>=2.5.1
HTMLParser>=63.4.2
pydub>=0.25.1
PyQRCode>=63.4.2
pysilk>=0.0.1
pysilk-mod>=1.6.2
pyttsx3>=2.90
requests>=2.31.0
webuiapi>=0.9.10
wechaty>=0.10.7
wechaty_puppet>=0.4.23
chardet>=5.2.0
SpeechRecognition>=3.10.3
tiktoken>=0.6.0
